@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  overflow-x: hidden;
}

.sep {
  max-width: 80px;
  border: 2px solid #0d0d0d;
  margin-top: 40px;
  margin-bottom: 40px;
}

.light-sep {
  max-width: 80px;
  border: 2px solid #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}

#mainBanner {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
        ),
        url(/img/bg/1.jpg);
}
/*https://source.unsplash.com/category/nature/1600x900*/


/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.16em;
}

h2 {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 26px;
  color: #000;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue {
    color: aqua;
}
.bold {
    font-weight: bold;
}

/* ==========================================================================
Buttons Styles
========================================================================== */
.btn-transparent {
  background: transparent;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

.btn-light {
  background: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #0d0d0d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.btn-block {
  background: #24242a;
  padding: 15px 0;
  font-size: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid #24242a;
}

.btn-block:hover,
.btn-block:focus,
.btn-block:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

.btn-big {
  font-size: 20px;
  margin: 2px;
}

/* ==========================================================================
Layout 
========================================================================== */
.dark-bg {
  background: #24242a;
}

.light-bg {
  background: #fff;
}


    /* ==========================================================================
Navigation Style
========================================================================== */
.navbar-default {
  background: rgba(13, 13, 13, 0.6);
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-header {
  width: 28%;
  padding-right: 15px;
}
.navbar-default .nav-wrap {
  width: 50%;
}
.navbar-default .nav > li > a {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #a3a3a3;
}
.navbar-default .social-media {
  float: right;
  padding: 0 15px;
}
.navbar-default .social-media i {
  font-size: 22px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #a3a3a3;
}

.top-nav-collapse {
  background: #24242a;
}
.top-nav-collapse .navbar-brand {
  height: auto;
}
.top-nav-collapse .navbar-brand img {
  width: 52px;
  height: 52px;
}
.top-nav-collapse .nav > li > a {
  padding: 30px 15px;
}

/* ==========================================================================
Main banner
========================================================================== */
#question {
  overflow: hidden;
}
#question .item {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#question .item .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
}
#question .item .caption h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
#question .item .caption h1 span {
  font-weight: 700;
}
#question .item .caption h6 {
  color: #fff;
  margin: 0;
}
#question .item .opinion {
  position: relative;
  margin-top: 5px;
  text-align: right;
  z-index: 15;
}

#question .item .opinion ul li {
      display: inline;
}

#question .item .opinion ul li .text {
    margin-left: 2px;
    vertical-align: baseline;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
#question .item .opinion li a {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#question .item .opinion li a:hover,
#question .item .opinion li a:focus,
#question .item .opinion li a:active 
{
  background-color: transparent;
  color: #a3a3a3;
}
#question .item .opinion a {
    margin-left: 10px;
}
#question .item .stat {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
}

    /* ==========================================================================
Welcome Style
========================================================================== */
#welcome {
  padding: 60px 0;
  text-align: center;
}
#welcome h2 {
  text-transform: uppercase;
}
#welcome h2 span {
  font-weight: 700;
}
#welcome img {
  margin-top: 40px;
  margin-bottom: 40px;
}

    /* ==========================================================================
Services Style
========================================================================== */
#services {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
#services h2 {
  color: #fff;
}
#services p {
  color: #fff;
}
#services .services-box {
  margin-top: 40px;
}
#services .services-box .col-md-6 {
  margin-bottom: 20px;
}
#services .services-box .col-md-6 .media-left,
#services .services-box .col-md-6 .media-right,
#services .services-box .col-md-6 .media-body {
  padding-right: 30px;
  vertical-align: baseline;
}
#services .services-box .col-md-6 .media-left,
#services .services-box .col-md-6 .media-right,
#services .services-box .col-md-6 .media-body {
  text-align: left;
}
#services .services-box .col-md-6 .media-left h3,
#services .services-box .col-md-6 .media-right h3,
#services .services-box .col-md-6 .media-body h3 {
  color: #fff;
  text-align: left;
}
#services .services-box .col-md-6 .media-left span,
#services .services-box .col-md-6 .media-right span,
#services .services-box .col-md-6 .media-body span {
  font-size: 36px;
  color: #fff;
}

   
    /* ==========================================================================
ajout Us Style
========================================================================== */
#ajout {
  padding: 60px 0;
  text-align: center;
}
#ajout h2 {
  text-transform: uppercase;
}
#ajout form {
  margin: 40px 0;
}
#ajout .form-group {
  margin-bottom: 35px;
}
#ajout .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 2px solid #24242a;
  color: #0d0d0d;
  min-height: 45px;
}
#ajout textarea {
  height: 140px;
  resize: none;
}

    /* ==========================================================================
Google Map Style
========================================================================== */
#map {
  width: 100%;
  height: 400px;
}

    /* ==========================================================================
Footer Map Style
========================================================================== */
footer {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
footer h1 {
  text-transform: uppercase;
  font-weight: 700;
}
footer .social {
  margin: 40px 0;
}
footer .social a {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social a:hover,
footer .social a:focus,
footer .social a:active {
  color: #a3a3a3;
}
footer h6 {
  color: #fff;
}

/* Modal */
.modal-header, h4, .close {
      background-color: rgba(13, 13, 13, 1);
      color:white !important;
      text-align: center;
      font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

    /* ==========================================================================
Media Queries Style
========================================================================== */
@media (max-width: 992px) {
  /*-- Navigation --*/
  .navbar-default {
    background: #24242a;
  }
  .navbar-default .navbar-header {
    width: 100%;
    padding-right: 0;
  }
  .navbar-default .navbar-header .navbar-brand {
    height: auto;
  }
  .navbar-default .navbar-header .navbar-brand img {
    width: 52px;
    height: 52px;
  }
  .navbar-default .nav-wrap {
    width: 100%;
  }
  .navbar-default .navbar-toggle {
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:active {
    background: none;
  }
  .navbar-default .navbar-left,
  .navbar-default .navbar-right {
    float: none !important;
  }
  .navbar-default .navbar-toggle {
    display: block;
  }
  .navbar-default .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-default .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-default .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-default .navbar-nav > li {
    float: none;
  }
  .navbar-default .collapse.in {
    display: block !important;
  }

  /*-- Sliders --*/
  #question h1 {
    font-size: 42px;
  }
  #question .btn {
    margin-top: 20px;
  }
  #question .btn-big {
    font-size: 16px;
  }

  /*-- Services --*/
  #services h3 {
    font-size: 22px;
  }

  /*-- section styles --*/
  section h2 {
    font-size: 32px;
  }

  #testimonials h5 {
    font-size: 18px;
  }
}

/* Mobile devices overrides */
@media(max-width:768px) {
  .btn-big {
    display: block;
    width: 100%;
    font-size: 12px;
  }
  #question h1 {
      font-size: 28px;
  }

  #question .item .caption {
      top: 200px;
  }
}